{% extends "base.html" %} 
{% load render %}
{% load extras %}

{% block title %}Tree Respiration{% endblock %}

{% block css %} 
<style type='text/css'>
  @import "/site_media/css/respiration/style.css";
</style> 
<link href="/site_media/js/bootstrap-3.2.0/bootstrap.min.css" rel="stylesheet">
<!-- <link href="/site_media/js/bootstrap-3.2.0/bootstrap-glyphicons.css" rel="stylesheet"> -->
{% endblock %} 

{% block js %} 
    <script type="text/javascript" src="/site_media/js/browserdetect.js"></script>
    <script type="text/javascript" src="/site_media/js/shield.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/underscore-1.8.2.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-ui-1.11.4.min.js"></script>  
    <script type="text/javascript" src="/site_media/js/libraries/backbone-1.1.2.js"></script>
    <script type="text/javascript" src="/site_media/js/bootstrap-3.2.0/bootstrap.min.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/highcharts-4.1.6/js/highcharts.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/highcharts-4.1.6/js/modules/exporting.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>   
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery.sharing/jquery.sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/bluff/js-class.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/excanvas.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/bluff-src.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/newSpecies.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/respirationGraph.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/graph.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/species.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/foresthelpers.js"></script> 
    <script type="text/javascript" src="/site_media/js/respiration/scenario.js"></script> 
    <script type="text/javascript" src="/site_media/js/respiration/forestgraph.js"></script>

  
<!-- Forest -->

    <script type="text/javascript">
    console.log("Inside forest javascript");
    addLoadEvent(function() {
        {% for station in stations %}
            addYears("{{station}}", {{years|hash:station}});
        {% endfor %}
        initNav(); // foresthelpers.js
        initYearHelper(); // foresthelpers.js
        initSpeciesModule(); // species.js
        initScenarioModule(); // scenario.js
        setupForest();      
      });
       console.log("End of forest javascript");
    makeExportLink = function(a) {
      var id = a.id;
      id = id.split('-')[0];
      var year = document.getElementById(id+'-year').value;
      var start = document.getElementById(id+'-startdate').value;
      var end = document.getElementById(id+'-enddate').value;
      var station = document.getElementById(id+'-fieldstation').value;
      a.href = "/respiration/getcsv?year="+year+"&start="+start+"&end="+end+"&station="+station;
    };    
  </script>

{% endblock %} 

{% block masthead %} 
<a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>

{% endblock %} 



{% block content %}
    {% include "respiration/sharing.html" %}
    <!--    <div id="tab-bar">
            <div class="tab" id="tab-resources" onclick="showResources();">
                Teaching Resources
            </div>
            <div class="tab" id="tab-canopy">
                Canopy Level
            </div>          
            <div class="tab" id="tab-leaf">
                Leaf Level
            </div>          
        </div>
    -->

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#leaf-level" aria-controls="leaf-level" data-toggle="tab">
          Leaf Level
        </a>
      </li>
      <li role="presentation">
        <a href="#canopy-level" aria-controls="canopy-level" data-toggle="tab">
          Canopy Level
        </a>
      </li>
      <li role="presentation">
        <a href="#teaching-resources" aria-controls="teaching-resources" data-toggle="tab">
          Teaching Resources
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="leaf-level">
          {% include "respiration/leaf_pane.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="canopy-level">
          {% include "respiration/forest_pane.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="teaching-resources">
          {% include "respiration/resources_pane.html" %}
      </div>
    </div>
   

{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
{% endblock %} 
