{% extends "base.html" %} 
{% load render %}

{% block title %}Tree Respiration{% endblock %}

{% block css %} 
    <!-- Try Bootstrap -->
<link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/media/bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet">
<style type='text/css'>
  @import "/respiration/media/css/style.css";
</style> 
{% endblock %} 

{% block js %} 
    <!-- Try Bootstrap -->
    <script type="text/javascript" src="/site_media/js/browserdetect.js"></script>
    <script type="text/javascript" src="/site_media/js/shield.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-ui-1.11.4.min.js"></script> 
    <script src="/media/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>   
    <script type="text/javascript" src="/site_media/js/libraries/jquery.sharing/jquery.sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/bluff/js-class.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/excanvas.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/bluff-src.js"></script>
    <script type="text/javascript" src="/site_media/js/respiration/graph.js"></script> 

    <script type="text/javascript">
    <!-- Functionality of both of these functions is in bootstrap -->
    /*
    function closePredefinedSpecies() {
          var elts = getElementsByTagAndClassName("div", "species-predefined-list");
          forEach(elts, function(elt) {
              if (getStyle(elt, 'display') === 'block') {
                  hideElement(elt);
              }
          });
      }

      function setActiveTab() {
          var tabname = "{% block tabname %}tab-leaf{% endblock %}";
          if (document.getElementById(tabname) != null) { 
              addElementClass(tabname, "tab-selected");
          }
          connect(document.body, "onclick", closePredefinedSpecies);    
      }

      addLoadEvent(setActiveTab);      
      
      function initNav() {
          connect("tab-leaf", "onclick", function() {
              window.location = '/respiration/leaf';
          });
          connect("tab-canopy", "onclick", function() {
              window.location = '/respiration/forest';
          });
       }
       addLoadEvent(initNav);

      function showResources() {
    	  jQuery('#tab-leaf').removeClass('active');
    	  jQuery('#tab-canopy').removeClass('active');
    	  jQuery('#tab-leaf').removeClass('tab-selected');
    	  jQuery('#tab-canopy').removeClass('tab-selected');
    	  jQuery('#tab-resources').addClass('active');
    	  jQuery('#tab-resources').addClass('tab-selected');
    	  //empty the module header
    	  jQuery('#respiration_content').html("");
    	  //replace the current content with the resources content
    	  jQuery('#container').html(jQuery('#resources-template').html());
      }
      */
    </script>
    <script type="text/template" id="resources-template">
  <div id="resource-contents">
    <h3>Teaching Resources</h3>
    <ul>
      <li>
	<a href="/site_media/pdf/respiration/Respiration_Lab_Presentation.pdf" target="_blank">
	  Tree Respiration Lab Presentation
	</a>
      </li>
      <li>
	<a href="/site_media/pdf/respiration/Respiration_Lab_Protocol.pdf" target="_blank">
	  Tree Repiration Lab Protocol
	</a>
      </li>
      <li>
	<a href="/site_media/pdf/respiration/Respiration_Lab_Spreadsheet.pdf" target="_blank">
	  Tree Respiration Lab Spreadsheet
	</a>
      </li>
    </ul>
  </div>
</script>
{% endblock %} 

{% block masthead %} 
<a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>

{% endblock %} 


  {% block content %}
    {% include "respiration/sharing.html" %}
    
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#leaf-level" aria-controls="leaf-level" data-toggle="tab">
          Leaf Level
        </a>
      </li>
      <li role="presentation">
        <a href="#canopy-level" aria-controls="canopy-level" data-toggle="tab">
          Canopy Level
        </a>
      </li>
      <li role="presentation">
        <a href="#teaching-resources" aria-controls="teaching-resources" data-toggle="tab">
          Teaching Resources
        </a>
      </li>
    </ul>
    
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="leaf-level">
          {% include "respiration/leaf_pane.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="canopy-level">
          {% include "respiration/forest_pane.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="teaching-resources">
          {% include "respiration/resource_pane.html" %}
      </div>
    </div>
   
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
{% endblock %} 
