<!--  Original Markup Here
	    <div id="respiration_content">
	       	<div id="instructions">
	        	<strong>Instructions:</strong>
	        	{% block instructions %}
	        	{% endblock %}
	       	</div>
	    	{% include "respiration/arrhenius_function.html" %}
	    </div>
	  -->
	 <!-- end respiration content -->
<div class="respiration_content">
  <div class="instructions">
    <strong>Instructions:</strong>
      Explore how climate fluctuations and changes in species composition affect the respiration output of a forest using actual temperature data from Black Rock Forest. Enter the following scenario parameters into the fields below. Click on the Graph button to determine and view the total amount (moles) of carbon respired from a m<sup>2</sup> of forest for each of your scenarios. 
  <br /><br />
  Advanced options include a forest leaf area index that takes into consideration the canopy layers of the forest as well as a delta function that modifies the temperature data points across the board.
  </div>
  {% include "respiration/arrhenius_function.html" %}
</div>