{% load extras %}
{% include "respiration/forest_instructions.html" %}
{% include "respiration/forest_templates.html" %}
<div class="container">
  <div class="left">
    <div class="leftfield">
      <div id="forestgraph">
        <input id="graph_button" type="button" value="Graph &gt;&gt;" onclick="javascript:forestGraph();" />
        <input id="print_button" type="button" value="Print" onclick="javascript:window.print()" />      
      </div>

      <h3>Set Scenario Variables</h3>

        <div>
          {% for nest in nested_years %}
            {{ nest.station }}{{ nest.years }} </ br>
          {% endfor %}
        </div>
      <!-- {u'Fire Tower': '[2007, 2008]', u'Open Lowland': '[1996, 2002, 2005, 2008, 2009]', u'Ridgetop': '[1996, 2002, 2008, 2009]'} -->
      <!-- <div id="error">Some errors occurred while graphing.  You might want to double-check the boxes highlighted in red.</div> --> 

      <div id="scenariocontainer forest-graph-info">
        <div class="scenarioheader">
          <span class="button addbutton addScenario">  + Add Scenario   </span>  Scenario List 
        </div>
        <div class="scenariobox">
          <!-- This is where the templates representing scenarios go -->
        </div> <!-- end div "scenariobox" -->
      </div> <!-- end div "scenariocontainer" -->
    </div><!-- end div "leftfield" -->    
  </div>
    
  <div class="right">
    <div class="rightfield">
      <div id="forest-graph-area" style="min-width: 310px; height: 400px; margin: 0 auto">  
      </div>
    </div>
  </div>
</div> <!-- end div "container" -->    
