{% load extras %}
{% include "respiration/forest_instructions.html" %}
{% include "respiration/forest_templates.html" %}
<div class="container">
  <div class="left">
    <div class="leftfield">
      <div id="forestgraph">
        <input id="graph_button" type="button" value="Graph &gt;&gt;" onclick="javascript:forestGraph();" />
        <input id="print_button" type="button" value="Print" onclick="javascript:window.print()" />      
      </div>

      <h3>Set Scenario Variables</h3>
               
      <!-- <div id="error">Some errors occurred while graphing.  You might want to double-check the boxes highlighted in red.</div> --> 

      <div id="scenariocontainer">
        <div class="scenarioheader">
          <span class="button addbutton addScenario">  + Add Scenario   </span>  Scenario List 
        </div>
        <div class="scenariobox">
          <!-- This is where the templates representing scenarios go -->
        </div> <!-- end div "scenariobox" -->
      </div> <!-- end div "scenariocontainer" -->
    </div><!-- end div "leftfield" -->    
  </div>
    
  <div class="right">
    <div class="rightfield">
      <h3>  Scenario Graph  </h3>
      <div id="graph-cursor">
        <div id="unfreeze">
        </div>
      </div>
      <canvas id="graph" width="460" height="345"></canvas>
      <div id="y-grid-canopy"></div>
    </div>
  </div>
</div> <!-- end div "container" -->    
