{% load extras %}
{% include "respiration/leaf_instructions.html" %}
{% include "respiration/leaf_templates.html" %}
<div class="container">
  <div class="left">
    <div class="leftfield">
      <div class="forestgraph">
        <input id="print_button" type="button" value="Print" onclick="javascript:window.print()" />
        <input style="display: none;" id="plotGraph" class="needsupdate" type="button" value="Plot &gt;&gt;" onclick="javascript:leafGraph();" />
      </div>
      <h3>  Set Respiration Rate Variables  </h3>
      <!-- saved values passed back from canopy tab -->

    <div class="speciesbox leaf-graph-info">
      <div class="speciesheader">
        <span class="button addbutton addSpecies">  + Add Species  </span>  Species List  
      </div> <!-- End of header -->

      <div class="leafspeciescontainer">
      </div><!-- leaf container? -->
     </div><!-- speciesbox? -->
	</div><!-- leftfield? -->
  </div><!-- left? -->

       

    	<div class="right">
    	  <div class="rightfield">
            <div id="leaf-graph-area" style="min-width: 310px; height: 400px; margin: 0 auto">  
            </div>
          </div> <!-- end div "rightfield" --> 
   	    </div> <!-- end div "right" --> 
  </div> <!-- end div "container" -->    