<div class="respiration_content">
	<div class="instructions">
	    <strong>Instructions:</strong>
	        	 Plant respiration is often measured as CO<sub>2</sub> flux from the surface of a leaf, 
 stem, soil or canopy. Highly regulated by temperature, the absolute rate of respiration 
 and the temperature response varies among plant species. Respiration can be modeled by a 
 modified version of the Arrhenius Function, described by Lloyd and Taylor (1994), 
 which incorporates simple temperature coefficients to consider the impact of climate 
 on this physiological process.
 <br /><br />
Enter values for the parameters of the Arrhenius function to graph the respiration 
rate for a given tree species.Use the red vertical indicator bar on the graph to view 
the calculated respiration rate (R) value(s) for all given tree species for your selected 
ambient temperature value (T<sub>a</sub>). When using the species from the drop down menu,
 enter 10C as the base temperature.
	</div>
   	{% include "respiration/arrhenius_function.html" %}
</div> <!-- end respiration content -->